@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-drag {
  user-select: none;      /* Deshabilita la selección de texto */
  -webkit-user-drag: none; /* Para Safari */
  -moz-user-drag: none;    /* Para Firefox */
  -ms-user-drag: none;     /* Para Internet Explorer */
}
